body{
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
       
}
#div1{
/* background-color: #923cb5;
background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%); */
/* height: 450px; */
width: 100%;
}
#i1{
    margin-top: -115px;
    /* height: 500px; */
    /* margin-left: 26%; */
}
#n1{
    padding-left: 65%;
}
.c1{
    background-color: #923cb5;
background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);


}
.t{
    background: #A10E9C;
background: radial-gradient(circle farthest-side at center center, #A10E9C 0%, #2B0404 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
@media (min-width:375px) and (max-width:768px){
    #i1{
        margin-top: -125px;
        height: 500px;
        margin-left: -10%;
        width: 350px;
        height: 450px;
    }
    span{
        font-size: x-small;
    }
    #n1{
        padding-left: 0%;
    }
}
@media(orientation:portrait){
    #i1{
        margin-top: -75px;
        height: 300px;
        margin-left: -15%;
        width: 250px;
        /* height: 450px; */
    }
    #n1{
        padding-left: 0%;
    }
    #p1{
        margin-top: -15%;
    }
}
